*{
    font-family: math;
}
.navbar {
    height: 60px;
    background-color: #CD7F32;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.nav-logo{
    height: 50px;
    width: 100px;
    margin-top: -6px;
    margin-left: -50px;
}


.logo {
    height: 50px;
    width: 100%;
    background-size: cover;
    
    background-image: url("src\assets\image\logo.png");
}

.border1 {
    border: 1.5px solid transparent;
}
.border1 :hover {
    border: 1.5px solid white;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:aqua;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
        border: 2px solid orange;
}
.search-select{
    background-color:#f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;    
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:brown;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}

.abs li{
    position: relative;  
}
.sub-menu{
    position: absolute;
    background-color: #ffffff;
    width: 140px;
    left: 0;
    height:auto ;
    margin-left: 140px;
    display: none;
   
    
}

.sub-menu li{
    margin-top: 6px;
    padding: auto;
    list-style: none;
    margin-left:-32px;
    text-align: center;
}
.sub-menu a:hover{
    color: #ffffff;
    transition: .2s;
}
.sub-menu li:hover{
    background-color: black;
    text-align: center;
    transition: .2s;
}
.navbar-nav li:hover > .sub-menu{
    display: block;
    animation: slideup .4s;
}
@keyframes slideup {
    0%{
            opacity: 0;
            transform: none;
    }
    100%{
        opacity: 1;
        transform:none;
    }
}
.sub-menu:hover{
    box-shadow: 0 3px 6px rgb(0, 0, 0 ,0.16), 0 3px 6px rgb(0, 0, 0 ,0.23);
    transition:translate(0px,-8px);
}
@media(max-width:1000px)  {
    .sub-menu{
        width: 45%;
    }
}
@media(max-width:750px)  {
    .sub-menu{
        width: 100%;
    }
}



.sub-menu1{
    position: absolute;
    background-color: #ffffff;
    width: 140px;
    left: 0;
    height:auto ;
    display: none;

}

.sub-menu1 li{
    margin-top: 6px;
    padding: auto;
    list-style: none;
    margin-left:-32px;
    text-align: center;
}
.sub-menu1 a:hover{
    color: #ffffff;
    transition: .2s;
}
.sub-menu1 li:hover{
    background-color: black;
    text-align: center;
    transition: .2s;
}
.navbar-nav li:hover > .sub-menu1{
    display: block;
    animation: slideup .4s;
}
@keyframes slideup {
    0%{
            opacity: 0;
            transform: none;
    }
    100%{
        opacity: 1;
        transform:none;
    }
}
.sub-menu1:hover{
    box-shadow: 0 3px 6px rgb(0, 0, 0 ,0.16), 0 3px 6px rgb(0, 0, 0 ,0.23);
    transition:translate(0px,-8px);
}
@media(max-width:1000px)  {
    .sub-menu1{
        width: 45%;
    }
}
@media(max-width:750px)  {
    .sub-menu1{
        width: 100%;
    }
}

