<!--Navbar1-->
<header>
    <div class="navbar container-fluid">
        <div class="nav-logo border1">
            <div class="logo"></div>
        </div>
        <div class="navbar-name">
            <a class="navbar-brand me-5 fw-bold fs-3 h-font" href="">
                <span style="margin-left: 17px;">Decor My Way</span>
            </a>
        </div>

        <div class="nav-search">
            <select class="search-select">
                <option>All</option>
            </select>
            <input placeholder="Search" class="search-input">
            <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="nav-cart">
            <a routerLink="/cart" style="text-decoration: none;"><i class="fa-solid fa-cart-shopping" ></i></a>
        </div>
        <div class="cartvalue">2</div>
    </div>
</header>

<!--navbar 2-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<nav *ngIf="showloggedin" class="navbar navbar-expand-lg navbar-light bg-white px-lg-3 py-lg-2 shadow-sm sticky-top">
    <div class="container-fluid" style="height: 25px;">
        

        
       <!-- <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-4 mb-lg-0 abs">
            <li class="nav-item">
            <a class="nav-link  me-2" href="" routerLink="/" style="font-size: 25px;margin-left: 90px;">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link me-2" style="font-size: 25px" href="" routerLink="/furniture">Furniture</a>
             <!--  <ul class="sub-menu">
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">submenu</a></li>
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">submenu</a></li>
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">submenu</a></li>
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">submenu</a></li>
                </ul>
            

                <ul class="sub-menu1">            
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">Sofa</a></li>
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">Bed</a></li>
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">Sofa</a></li>
                    <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">Bed</a></li>
                </ul>
            </li>
            -->
            <li class="nav-item">
            <a class="nav-link me-2" href="" style="font-size: 25px;" routerLink="/decoritems">Decor items</a>
            
            <!--
            <ul class="sub-menu">
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">DecorItems</a></li>
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">DecorItems</a></li>
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">DecorItems</a></li>
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">DecorItems</a></li>
            </ul>

            <ul class="sub-menu1">            
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">Lamp</a></li>
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">Glassware</a></li>
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">Mirror</a></li>
                <li class="nav-item"><a class="nav-link me-2" style="font-size: 25px;" href="">pots</a></li>
            </ul>
            -->
                
            </li>
            <li class="nav-item">
            <a class="nav-link me-2" href="" style="font-size: 25px;" routerLink="/contact">Contact us</a>
            </li>
            <li class="nav-item"> 
            <a class="nav-link" href="" routerLink="/about" style="font-size: 25px;">About Us</a>
            </li>
        </ul>
        <div class="d-flex">
            <button type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2" data-bs-toggle="modal" data-bs-target="#loginModal" style="height: 35px;width: 77px;font-size: large;text-align: center;">
                Login
            </button>
            <button type="button" class="btn btn-outline-dark shadow-none" data-bs-toggle="modal" data-bs-target="#registerModal"  style="font-size : large;height: 35px; text-align: center;">
                Register
            </button>
            </div>
        </div>
    </div>

</nav>
<!--login From-->
    <div  class="modal fade" id="loginModal"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form #loginuser="ngForm" (ngSubmit)="signup(loginuser.value)" >
                    <div class="modal-header">
                        <h4 class="modal-title d-flex align-items-center" style="margin-left: 180px;">
                            <i class="bi bi-person-circle fs-3 me-2"></i>
                            Login
                        </h4>
                        <button type="reset" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" ngModel name="email" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Password</label>
                            <input type="password"ngModel name="pass" class="form-control">
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <button type="submit" class="btn btn-dark"(click)="loggedin()" data-bs-dismiss="modal">LOGIN</button>
                            <a (click)="signin()" data-bs-toggle="modal" data-bs-target="#registerModal">Sign in</a>
                            <a (click)="forgot()" data-bs-toggle="modal" data-bs-target="#forgot1">Forgot Password</a>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Registration-->
    <div *ngIf="showregister" class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="modal-header center" >
                        
                        <h5 class="modal-title d-flex" style="margin-left:280px;">
                            <i class="bi bi-person-lines-fill me-2"></i>User Registration
                        </h5>
                        <button type="reset" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <span class="badge bg-secondary mb-3 text-wrap lh-base">
                            Note: Your details must match with your ID (Aadhaar card, passport, driving license etc..)
                            that will be required during
                        </span>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-6 p-0 mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Phone Number</label>
                                    <input type="number" class="form-control">
                                </div>

                                <div class="col-md-12 p-0 mb-3">
                                    <label class="form-label">Address</label>
                                    <textarea class="form-control" rows="1"></textarea>
                                </div>
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Pincode</label>
                                    <input type="number" class="form-control">
                                </div>
                                <div class="col-md-6 p-0 mb-3">
                                    <label class="form-label">Date of birth</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col-md-6 ps-0 mb-3">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control">
                                </div>
                                <div class="col-md-6 p-0 mb-3">
                                    <label class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class ="text-center my-1">
                            <button type="submit" class="btn btn-dark">REGISTER</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--After Login-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<nav *ngIf="!showloggedin" class="navbar navbar-expand-lg navbar-light bg-white px-lg-3 py-lg-2 shadow-sm sticky-top">
    <div class="container-fluid" style="height: 25px;">
        

        
       <!-- <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-4 mb-lg-0 abs">
            <li class="nav-item">
            <a class="nav-link  me-2" href="" routerLink="/" style="font-size: 25px;margin-left: 90px;">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link me-2" style="font-size: 25px" href="" routerLink="/furniture">Furniture</a>
             
            <li class="nav-item">
            <a class="nav-link me-2" href="" style="font-size: 25px;" routerLink="/decoritems">Decor items</a>
            
            
                
            </li>
            <li class="nav-item">
            <a class="nav-link me-2" href="" style="font-size: 25px;" routerLink="/contact">Contact us</a>
            </li>
            <li class="nav-item"> 
            <a class="nav-link" href="" routerLink="/about" style="font-size: 25px;">About Us</a>
            </li>
        </ul>
        <div class="username">
            <p>Welcome User</p>
        </div>
        <div class="d-flex">
            <Button  type="button" class="btn btn-outline-dark shadow-none me-lg-3 me-2" routerLink="/profile"><i class="fas fa-user"></i></Button>
            </div>
        </div>
    </div>

</nav>

<!--Forgot Password -->

<div *ngIf="showforgotpass" class="modal fade" id="forgot1"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div  class="modal-dialog">
        <div  class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title d-flex align-items-center" style="margin-left: 150px;">
                        <i class="bi bi-person-circle fs-3 me-2"></i>
                        Forgot Password
                    </h4>
                    <button type="reset" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" ngModel name="email" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">OTP</label>
                        <input type="text" ngModel name="otp" class="form-control">
                    </div>
                    <div class="mb-5">
                        <label class="form-label">change Password</label>
                        <input type="text" ngModel name="changepass" class="form-control">
                    </div>
                    <div class="mb-6">
                        <label class="form-label">Confirm Password</label>
                        <input type="text" ngModel name="confirmpass" class="form-control">
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-6" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-dark">Change Password</button>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
